@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
  * {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
  }

body {
  font-family: Roboto, Helvetica, sans-serif;
  background-color: #ccc;
  min-height: 100%;
}

.container {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content {
  padding: 16px;
  background-color: white;
  width: 800px;
  border-radius: 4px;
}

h1 {
  text-transform: uppercase;
  font-size: 28px;
  font-weight: bold;
  color: #198ccf;
  margin-bottom: 25px;
}


input {
  width: 100%;
  padding: 15px;
  margin: 5px 0 20px 0;
  display: inline-block;
  border: none;
  border-radius: 4px;
  background: #f1f1f1;
}

input :focus {
  background-color: #ddd;
  outline: none;
}

label {
  color: #198ccf;
  font-weight: bold;
  font-size: 16px;
}

.submit {
  background: #4caf50;
  border: 0;
  border-radius: 4px;
  height: 40px;
  width: 150px;
  color: #fff;
  padding: 0 20px;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  opacity: 0.9;
}

.submit:hover {
  opacity: 1;
}
